

<footer class="footer">
  <small>
    <strong>Ruby on Rails Tutorial Project</strong>
    by <em>Muhammad Aleem</em>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
    </ul>
  </nav>
</footer>